$primary-color: #177bf2;
$primary-background-color: #edeff2;
$primary-light-color: #f4f4f4;
$primary-dark-color: #1a2129;
$primary-dark-shadow-color: (#{$primary-dark-color}50);

$secondary-dark-color: #7f848b;
$secondary-color: #dbe5f2;

$neutral-0-color: #b0b5bd;
$neutral-1-color: #e1e5eb;

$primary-font: 'Poppins', sans-serif;

$primary-gradient-light: $primary-color;
$primary-gradient-dark: #1864BF;
