@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Breakpoints
$breakpoint-sm: 900px;

// Literal colors
// DO NOT USE FOR COLOR DEFINITIONS
$cloudscout-blue: #177bf2;
$cloudscout-dark-blue: #1864bf;
$light-blue: #dbe5f2;
$white: #f4f4f4;
$black: #1a2129;
$lighter-grey: #edeff2;
$light-grey: #e1e5eb;
$grey: #7f848b;

// Dynamic colors
// USE FOR COLOR DEFINITIONS
$color-primary: $cloudscout-blue;
$color-primary-dark: $cloudscout-dark-blue;
$color-primary-light: $light-blue;

$color-dark: $black;
$color-light: $white;

$neutral-lighter: $lighter-grey;
$neutral-light: $light-grey;
$neutral-dark: $grey;

// Font
$font-primary: 'Poppins', sans-serif;

// Font sizes
$base-font-size: 1rem;

$h1-font-size: $base-font-size * 1.75;
$h2-font-size: $base-font-size * 1.5;
$h3-font-size: $base-font-size * 1.25;
$h4-font-size: $base-font-size;
$h5-font-size: $base-font-size * 0.75;
$h6-font-size: $base-font-size * 0.5;


// Spacing constants (margin, padding)
$spacing-sizes: (
    0: 0,
    auto: auto,
    xxs: 0.25rem,
    xs: 0.5rem,
    sm: 1rem,
    md: 1.5rem,
    lg: 2rem,
    xl: 3rem,
    xxl: 4rem,
);

$spacing-sides: (
    r: 'right',
    l: 'left',
    t: 'top',
    b: 'bottom',
    x: ('right', 'left'),
    y: ('top', 'bottom'),
);
