@import 'styles/cloudscout';

.landing {
    &__container {
        display: flex;
        flex-direction: row;

        @media (max-width: $breakpoint-sm) {
            flex-direction: column;
        }
    }

    &__text {
        flex-grow: 1;
        flex-basis: 0;

        @media (max-width: $breakpoint-sm) {
            padding: 0 !important;
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
        }

        &__inner {
            margin-top: 3rem;
            width: 80%;
            @media (max-width: $breakpoint-sm) {
                margin-top: 0;
                @include margin-x-auto;
            }
        }
    }

    &__slogan {
        font-weight: 600;
        color: $color-dark;
    }

    &__thumbnail {
        flex-grow: 1;
        flex-basis: 0;
        border-radius: 10px;
    }

    &__img {
        width: 100%;
        box-fit: cover;
    }
}

.features__container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.pricing__container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

#pricing {
    @media (max-width: $breakpoint-sm) {
        display: none;
    }
}

#schools {
    background-color: $color-primary-light;
}
