@import 'styles/global';
@import 'styles/mixins';

.landing {
    &__container {
        display: flex;
        flex-direction: row;
    }

    &__text {
        flex-grow: 1;
        flex-basis: 0;

        &__inner {
            width: 80%;
        }
    }

    &__slogan {
        font-weight: 600;
        color: $primary-dark-color;
    }

    &__thumbnail {
        flex-grow: 1;
        flex-basis: 0;
        background-color: $secondary-color;
        border-radius: 10px;
    }
}

.features__container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.pricing__container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

#schools {
    background-color: $secondary-color;
}

.school__carousel__container {
    background-color: $secondary-color;
    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }
}

.school__img {
    width: 100%;
    box-fit: cover;
    filter: grayscale(100%);

    &__container {
        height: 50px;
        width: 50px;
    }
}
