@import 'styles/cloudscout';

.dashboard {
    @include app-page;

    max-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.favorites {
    @include app-page;
}

.settings {
    @include app-page;
}

.page {
    &__header {

    }

    &__head {
        margin-bottom: 1.5rem;
        font-size: 28px;
        font-weight: 600;
    }
}
