@import 'styles/cloudscout';

@mixin app-page {
    @include margin-x-auto;
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    max-width: 1600px;
}

.dashboard {
    @include app-page;

    max-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.page {
    &__header {

    }

    &__head {
        margin-bottom: 1.5rem;
        font-size: 28px;
        font-weight: 600;
    }
}
