@import 'styles/cloudscout';

.profile {
    @include app-page-scrollable;

    &__categories {
        width: 100%;
        border-bottom: 2px solid $neutral-light; 
        margin-top: 1rem;
        display: flex;
        flex-direction: row;

        &__tab {
            padding: 5px 15px;
            border-radius: 5px 5px 0 0;
            position: relative;
            bottom: -2px;

            &-active {
                @extend .profile__categories__tab;
                background-color: $neutral-light;
                border-bottom: 2px solid $color-primary;
            }
        }

        &__link {
            @include plain-link;
            cursor: pointer;
            color: $neutral-dark;

            &-active {
                @extend .profile__categories__link;
                color: $color-primary;
            }
        }
    }

    &__statistics {
        &__container {
            text-align: right;

            &-nodata {
                margin-top: 1rem;

                &__text {
                    color: $color-negative;
                }
            }
        }

        &__stat {
            display: flex;
            flex-direction: row;
        }
    }
}

.stat {
    &__name {
        font-size: 1rem;
        font-weight: 500;
    }

    &__row {
        border-bottom: 2px solid $neutral-light;
    }

    &__col {
        padding: 1rem;
    }

    &__metric {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: $neutral-dark;

        &__container {
            @include margin-x-auto;
        }

        &-positive {
            @extend .stat__metric;
            color: $color-positive;
        }

        &-negative {
            @extend .stat__metric;
            color: $color-negative;
        }

        &__text {
            @include margin-y-auto;
            text-align: center;
            font-size: 13px;
            font-weight: 500;
        }

        &__name {
            text-align: center;
        }
    }
}

.arrow {
    &-positive {
        color: $color-positive;
    }

    &-negative {
        color: $color-negative;
    }
}
