@import 'styles/global';
@import 'styles/mixins';
@import 'styles/variables';
@import 'styles/text';

.feature {
    width: 100%;
    border-radius: 10px;
    background-color: $secondary-color;
    display: flex;
    flex-direction: row;
    overflow: clip;

    &__info {
        flex-grow: 1;
        flex-basis: 0;
        box-sizing: border-box;

        &__inner {
            width: 80%;
        }
    }

    &__thumbnail {
        flex-grow: 1;
        flex-basis: 0;
    }

    &__img {
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
        object-fit: cover;
    }

    &__name {
        color: $primary-color;
    }

    &__hook {
        font-weight: 600;
        color: $primary-dark-color;
    }
    
    &__descrip {
        font-weight: 400;
        font-size: 14px;
        color: $grey;
    }

}

