@import 'styles/cloudscout';

.feature {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;

    @media (max-width: $breakpoint-sm) {
        flex-direction: column-reverse;
    }

    &-right {
        @extend .feature;
        @media (max-width: $breakpoint-sm) {
            flex-direction: column;
        }

        & .feature__info__inner {
            margin-left: auto;
        }
    }

    &__info {
        flex-grow: 1;
        flex-basis: 0;
        box-sizing: border-box;

        &__inner {
            width: 80%;
            bottom: 0;

            @media (max-width: $breakpoint-sm) {
                width: 100%;
            }
        }
    }

    &__thumbnail {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 500px;
    }

    &__img {
        object-fit: cover;
        top: 0;
        width: 100%;
        @media (max-width: $breakpoint-sm) {
            @include margin-x-auto;
        }
    }

    &__name {
        color: $color-primary;
    }

    &__hook {
        font-weight: 600;
        color: $color-dark;
    }
}

