@import 'styles/cloudscout';

.basic-btn {
    @include plain-btn;

    padding: 10px 15px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    color: $color-light;
    background-color: $color-primary;
}

.gradient-btn {
    @include plain-btn;

    padding: 10px 40px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    color: $color-light;
    background: linear-gradient(90deg, $color-primary-dark, $color-primary);
}
