@import 'styles/cloudscout';

.btn-basic {
    @include plain-btn;

    padding: 10px 15px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    color: $color-light;
    background-color: $color-primary;
    display: flex;
    gap: 10px;

    &-disabled {
        @extend .btn-basic;

        background-color: $neutral-light;
        color: $neutral-dark;
        pointer-events: none;
    }
}

.btn-gradient {
    @include plain-btn;

    padding: 10px 40px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    color: $color-light;
    background: linear-gradient(90deg, $color-primary-dark, $color-primary);
}

.btn-back {
    @include plain-btn;

    width: 27px;
    padding: 0;
    margin-bottom: 2rem;

    &__icon {
        vertical-align: top;
    }
}

.btn-checkbox {
    @include plain-btn;
    padding: 0 !important;
    width: 16px;
    height: 16px;
    border-radius: 4px;

    &-active {
        @extend .btn-checkbox;
        background-color: $color-primary;
    }

    &-inactive {
        @extend .btn-checkbox;
        background-color: $neutral-light;
    }

    &__icon {
        width: 100%;
        height: 100%;
        color: $color-light;
        vertical-align: top;
    }
}

.btn-toggle {
    @include plain-btn;
    padding: 8px;
    display: flex;
    gap: 10px;
    background-color: $neutral-light;
    border-radius: 5px;
    color: $neutral-dark;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 500;
    align-items: center;

    &-active {
        @extend .btn-toggle;
        background-color: $color-primary;
        color: $neutral-light;
    }

    & svg {
        vertical-align: top;
        width: 20px;
        height: 20px;
    }
}
