@import 'styles/cloudscout';

.error {
    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        &-name {
            color: $color-dark;
        }
        &-body {
            color: $color-negative;
        }
    }
}
