@import 'styles/cloudscout';

.footer {
    background-color: $color-primary;
    color: $color-light;

    &__content {
        @include section;
    }

    &__links {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        &__set {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__category {
            margin: 0;
            color: $color-light;
            font-size: 14px;
        }

        &__link {
            @include plain-link;

            color: $color-light !important;
        }
    }

    &__copyright {
        margin-top: 2rem;
        padding: 1rem 0;
        border-top: 1px solid $color-primary-light;

        &__text {
            color: $color-light !important;
        }
    }
}
