@import 'styles/cloudscout';

.footer {
    background-color: $color-primary;
    color: $color-light;

    &__content {
        @include section;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__brand {
        &__container {
            flex-grow: 0.75;
            flex-basis: 0;
        }

        &__img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__links {
        flex-grow: 4;
        flex-basis: 0;
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        &__set {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__category {
            margin: 0;
            color: $color-light;
            font-size: 14px;
        }

        &__link {
            @include plain-link;

            color: $color-light !important;
        }
    }

    &__copyright {
        @include section;
        padding: 1rem 0;
        border-top: 1px solid $color-primary-light;

        &__text {
            color: $color-light !important;
        }
    }
}
