@import 'styles/global';
@import 'styles/mixins';

.navbar {
    @include section-1;

    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $primary-font;

    &__link {
        @include plain-link;

        color: $primary-dark-color;
        font-size: 13px;
        font-weight: 500;

        &-active {
            @extend .navbar__link;
            color: $primary-color;
        }

        &__btn {
            @extend .navbar__link;
            color: $primary-light-color;
            padding: 10px 15px;
            border-radius: 6px;
            background-color: $primary-color;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    &__brand {
        &__container {
            height: 40px;
        }

        &__img {
            color: $primary-dark-color;
            object-fit: cover;
            height: 100%;
        }
    }
}
