@import 'styles/cloudscout';

$burger-breakpoint: 700px; 

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font-primary;

    &__link {
        @include plain-link;

        color: $color-dark;
        font-size: 13px;
        font-weight: 500;

        &-active {
            @extend .navbar__link;
            color: $color-primary;
        }

        &__btn {
            @extend .navbar__link;
            color: $color-light;
            padding: 10px 15px;
            border-radius: 6px;
            background-color: $color-primary;

            @media (max-width: $burger-breakpoint) {
                color: $color-dark;
                padding: 0;
                border-radius: 0;
                background-color: transparent;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        @media (max-width: $burger-breakpoint) {
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__branding {
        height: 100%;
        display: inline-block;
        color: $color-dark;

        & svg, img {
            object-fit: cover;
            height: 100%;
        }

        &__container {
            height: 40px;
        }
    }

    &__burger__menu {
        &__btn {
            @include plain-btn;
            color: $color-primary;
            height: 32px;
            width: 32px;

            & svg {
                height: 100%;
                width: 100%;
                vertical-align: top;
            }
        }

        &__items {
            right: 0;
            position: absolute;
            transition: 0.1s ease-out;
            transform: translateX(100%);
            background-color: $neutral-lighter;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            visibility: hidden;

            &-open {
                @extend .navbar__burger__menu__items;
                visibility: visible;
                transform: translateX(0%);
            }
        }
    }
}
