@import 'styles/cloudscout';

table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-collapse: collapse;

    & th {
        color: $color-light !important;
        font-weight: 500 !important;
        padding: 15px;
    }

    & td {
        color: $color-dark !important;
        font-weight: 500 !important;
        padding: 20px 15px;
    }
}

.player__table {
    display: flex;
    flex-direction: column;
}

.table {
    &__favorite__col {
        width: 24px;
        height: 24px;
    }

    &__header {
        color: $color-light;
        &__container {
            background-color: $color-dark;
            border-radius: 5px;
        }
    }

    &__content {
        &__container {
            scrollbar-width: thin;
            overflow-x: auto;
            margin-top: 0px;
            flex-grow: 1;
            flex-shrink: 1;
            padding-bottom: 2rem;

            &-nodata {
                @extend .table__content__container;
                height: 20vh;

            }
        }

        &-nodata {
            width: 100%;
            height: 100%;
            display: table;

            &__text {
                margin-top: 5rem;
                text-align: center;
                color: $color-negative;
            }
        }
    }

    &__row {
        border-bottom: 2px solid $neutral-light;
        &-active {
            border-bottom: 2px solid $color-primary-medium;
            background-color: $color-primary-light;
        }
    }

    &__link {
        @include plain-link;
        color: $color-primary;
    }
}

.pagination {
    &__container {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
    }

    &__inner {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
    }

    &__btn {
        @include plain-btn;
        // background-color: $color-primary;
        // color: $color-light;
        color: $color-primary;
        padding: 5px;
        border-radius: 6px;

        &-disabled {
            @extend .pagination__btn;
            // background-color: $neutral-light;
            color: $neutral-light;
            pointer-events: none;
        }

        &-icon {
            vertical-align: top;
        }
    }

    &__page {
        @include margin-y-auto;
        font-family: $font-primary;
        color: $color-dark;
        width: 15px;
        text-align: center;
        font-weight: 500;
    }
}

.favorite__btn {
    @include plain-btn;
    width: 24px;
    height: 24px;
    padding: 0;

    &-active {
        @extend .favorite__btn;
    }

    &__icon {
        vertical-align: top;
        color: $neutral-light;

        &-active {
            @extend .favorite__btn__icon;
            color: $color-primary;
        }
    }
}

.te-lg {
    width: 30%;
}

.te-sm {
    width: 5%;
}

.te-right {
    text-align: right;
}

.te-grey {
    color: $neutral-dark !important;
}
