@import 'styles/cloudscout';

table {
    width: 100%;
    table-layout: fixed;
    text-align: left;

    & th {
        color: $color-light !important;
        font-weight: 500 !important;
        padding: 15px;
    }

    & td {
        color: $color-dark !important;
        font-weight: 500 !important;
        padding: 20px 15px;
        border-bottom: 2px solid $neutral-light;
    }
}

.table__header {
    
    &__container {
        background-color: $color-dark;
        border-radius: 5px;
    }
}

.table__content {
    &__container {
        scrollbar-width: thin;
        overflow-x: auto;
        margin-top: 0px;
        flex-grow: 1;
        flex-shrink: 1;
        padding-bottom: 2rem;
    }
}

.te-lg {
    width: 35%;
}

.te-right {
    text-align: right;
}

.te-grey {
    color: $neutral-dark !important;
}
