@import 'styles/global';
@import 'styles/mixins';

/* 
 * Following calculations are for lining up elements in each tier while
 * maintaining a larger height for the featured tier.
*/

$height-above: 1.5rem;
$crown-height: 18px;
$inner-padding: 1rem;
$featured-padding-top: calc($height-above + $inner-padding - $crown-height);
$featured-padding-bottom: calc($height-above + $inner-padding);

.pricing {
    &__tier {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 250px;
        border-radius: 10px;
        padding: $inner-padding;
        transition: 0.3s ease;
        display: flex;
        flex-direction: column;
        margin: $height-above 0;
        border: 2px solid $secondary-color;
        background-color: $primary-background-color;

        &:hover {
            cursor: pointer;
            transform: translateY(-5px);
        }

        &-featured {
            @extend .pricing__tier;

            // super-selector overrides
            margin: 0;
            border: none;

            padding-top: $featured-padding-top;
            padding-bottom: $featured-padding-bottom;
            background: linear-gradient(315deg, $primary-gradient-dark, $primary-gradient-light);
            color: $primary-light-color;
        }
    }

    &__crown__icon {
        width: $crown-height;
        height: $crown-height;
    }

    &__name {
        color: $primary-color;

        &-featured {
            @extend .pricing__name;
            color: $primary-light-color;
        }
    }

    &__price {
        font-weight: 600;
        color: $primary-dark-color;

        &-featured {
            @extend .pricing__price;
            color: $primary-light-color;
        }

        &__interval {
            &-featured {
                @extend .pricing__price__interval;
                // need !important to override color on 'p-body-sm'
                // maybe need to change 'p-body-sm' to not have color
                color: $primary-light-color !important;
            }
        }
    }

    &__select {
        @include plain-link;

        text-align: center;
        display: block;
        color: $primary-color;
        width: 100%;
        border: 2px solid $primary-color;
        border-radius: 10px;
        font: $primary-font;
        box-sizing: border-box;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 600;

        &-featured {
            @extend .pricing__select;
            
            color: $primary-light-color;
            background-color: $primary-color;
        }
    }

    &__perks__container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 3rem;
    }

    &__perk {
        &-featured {
            @extend .pricing__perk;
            // need !important to override color on 'p-body-sm'
            // maybe need to change 'p-body-sm' to not have color
            color: $primary-light-color !important;
        }

        &__container {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        &__checkmark {
            width: 10px;
            color: $secondary-dark-color;
            &-featured {
                @extend .pricing__perk__checkmark;
                color: $primary-light-color;
            }
        }
    }
}
