@import 'styles/cloudscout';

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__wrapper {
        background-color: $color-dark;
        top: 0;
        left: 0;
        position: sticky;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0 2rem;
    }

    &__header {
        margin: 2rem 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        flex-grow: 1;
        justify-content: flex-start;
    }

    &__content {
        flex-grow: 4;
    }

    &__footer {
        margin-top: 2rem;
        margin-bottom: 2rem;
        flex-grow: 3;
        justify-content: flex-end;
    }

    &__logo {
        margin-left: auto;
        margin-right: auto;
        width: 30px;
    }

    &__item {
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        color: $color-light;

        &:hover {
            color: $neutral-light;
        }

        &__button {
            @include plain-btn;
            color: $color-light;

            &:hover {
                color: $neutral-light;
            }
        }

        &-active {
            @extend .sidebar__item;
            color: $color-primary;

            &:hover {
                color: $color-primary;
            }
        }
    }
}
