@import 'styles/cloudscout';

body {
  margin: 0;
  font-family: $font-primary;
  background-color: $neutral-lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
    font-family: $font-primary;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
